{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% include "parciais/_head.html" %}
    {% block titulo %} {% endblock titulo %}


</head>

<body>
    {% include "parciais/_nav.html" %}

    <main class="container mt-4 mb-4">
        {% block conteudo %}
        
        {% endblock conteudo %}
    </main>

   {% include "parciais/_footer.html" %}

    <script src="{% static "assets/bootstrap/js/jquery-3.2.1.slim.min.js" %} "></script>
    <script src="{% static "assets/bootstrap/js/popper.min.js" %} "></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %} "></script>
    <script defer src="{% static "assets/font-awesome/js/all.js" %} "></script>
    <script src="{% static "assets/custom/js/scripts.js" %} "></script>
</body>

</html>